---
import Layout from "../../layouts/Layout.astro";
import { getArtiste } from "../../../backend/backend.mjs";
import PbImage from "../../components/PbImage.astro";
import { pb } from "../../../backend/backend.mjs";
import PhotoIcon from "../../assets/icons/photo.svg";
import DateIcon from "../../assets/icons/date.svg";
import HeureIcon from "../../assets/icons/heure.svg";
import LocIcon from "../../assets/icons/localisation.svg";
import { formatDate, formatTime, formatDay } from "../../../backend/helpers";
const id = Astro.params.id;

const artiste = await getArtiste(id);
if (!artiste) {
    console.error(`Artiste with id ${id} not found`);
    return Astro.redirect("/artistes");
}
---

<Layout>
    <div class="bg-grad-diagonal -mb-20">
        <PbImage
            record={artiste}
            field="photoPrincipale"
            alt={artiste.nom}
            classImg="w-full h-120 object-cover  "
        />
        <div
            class="m-10 bg-grad-blue rounded-3xl p-6 shadow-[0_25px_25px_rgba(0,0,0,0.20)] bottom-26 relative text-white"
        >
            <h1 class="text-4xl font-bold mb-2 font-deco">
                {artiste.nom}
            </h1>
            <div class="lg:flex lg:justify-between">
                <div class="flex gap-4 mb-4">
                    <div
                        class="flex align-middle bg-transparent items-center w-fit px-4 p-2 rounded-4xl"
                    >
                        <DateIcon class="w-4 h-4 inline-block mr-2" />
                        <p>{formatDay(artiste.date)}</p>
                    </div>
                    <div
                        class="flex align-middle bg-transparent items-center w-fit px-4 p-2 rounded-4xl"
                    >
                        <HeureIcon class="w-4 h-4 inline-block mr-2" />
                        <p>{formatTime(artiste.date)}</p>
                    </div>
                </div>
                <div class="flex align-middle items-center w-fit px-4 p-3 pt-0">
                    <LocIcon class="w-4 h-4 inline-block mr-2 text-navy" />
                    <p class="text-xl font-semibold">
                        {artiste.expand?.scene.nom}
                    </p>
                </div>
            </div>
            <p
                class="flex align-middle bg-transparent items-center w-fit px-4 p-0.5 rounded-4xl ring-1 ring-blue-500"
            >
                {artiste.genre}
            </p>

            <p class="text-lg my-5">
                {artiste.description || "Aucune description disponible."}
            </p>
        </div>
        <div class="bg-white py-2 pb-8 relative -top-20">
            <div class="flex m-5">
                <PhotoIcon class="w-6 h-6 inline-block mr-2" />
                <h2 class="text-2xl font-semibold text-gray-900 mb-3 font-deco">
                    Galerie Photos
                </h2>
            </div>
            {
                artiste.galeriePhoto?.length > 0 ? (
                    <div class="mx-auto max-w-full px-4 pt-1">
                        <div class="overflow-x-auto [scrollbar-width:none] [&::-webkit-scrollbar]:hidden">
                            <div class="flex snap-x snap-mandatory gap-4">
                                {artiste.galeriePhoto.map(
                                    (fileName: string, index: number) => (
                                        <img
                                            src={pb.files.getURL(
                                                artiste,
                                                fileName,
                                            )}
                                            alt={`${artiste.nom} - photo ${index + 1}`}
                                            class="rounded-3xl h-60 w-200 min-w-80 snap-center object-cover"
                                        />
                                    ),
                                )}
                            </div>
                        </div>

                        {artiste.galeriePhoto.length > 1 && (
                            <div class="flex justify-center gap-3 pt-6">
                                {artiste.galeriePhoto.map(
                                    (_: string, index: number) => (
                                        <span
                                            class={`h-3 w-3 rounded-full ${index === 0 ? "bg-violet-500" : "bg-gray-300"}`}
                                            aria-hidden="true"
                                        />
                                    ),
                                )}
                            </div>
                        )}
                    </div>
                ) : (
                    <p class="text-gray-600">
                        Aucune photo de galerie disponible.
                    </p>
                )
            }
        </div>
    </div>
</Layout>
